$white: #ffffff;
$light-gray: #c0c0c0;
$gray: #4E4E50;
$black: #1A1A1C;
$black-op: #1A1A1C80;
$hard-red: #c72c41;
$med-red: #950741;
$dark-red: #2d132c;

// bootstrap breakpoints (-1px)
$screen-width-xl: 1199px;
$screen-width-l: 991px;
$screen-width-m: 767px;
$screen-width-s: 575px;

$screen-width-xxl: 1499px;
$screen-width-xxs: 380px;
$screen-width-xs: 470px;


//fonts 

$font20: 20px;
$font24: 24px;
$font32: 32px;
$font48: 48px;
$font64: 64px;
